.document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.app {
    background: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100vw;
}

.clock {
    width: 15rem;
    height: 15rem;
    border: 20px solid #ffffff;
    border-radius: 50%;
    padding: 2rem;
}

.hands {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: ease;
}

@media (min-width: 500px) {
    .clock {
        width: 25rem;
        height: 25rem;
    }
}